/* region Filter */
.filter-header {
    /*background: #104a7d;*/
    background: black;
    color: white;
    /*height: 50px;*/
    line-height: 30px;
    text-align: center;
    font-size: 20px;
}

.filter {
    top: 60px;

    background-color: #eaeaea;
    font-size: 18px;
    font-family: Calibri, sans-serif;

    float: left;

    max-width: 200px;
    min-width: 150px;
    margin-right: auto;
    margin-left: 0;
    position: fixed;
    /*right: 0;*/
    left: 0;
    /*top: 50px;*/

    /*min-height: 30px;*/

    clear: both;
    box-sizing: border-box;
    z-index: 10;
}

.filter-item {
    color: black;
    -webkit-transition: background-color 0.4s;
    border-left: solid #222 1px;
    border-right: solid #222 1px;
    float: left;
    padding: 5px 5px;
    font-size: 16px;
    /*line-height: 20px;*/
    text-decoration: none;
}

.filter-item:hover {
    background-color: #104a7d;
}

.text-input {
    text-align:right;
}

.filter-input {
    background-color: #eaeaea;
    border: 0;
    width: 50px;
    border-bottom: 1px solid black;
}

.filter-input:hover {
    border-bottom: 2px solid #104a7d;
}

.filter-input:focus {
    outline: 0;
    border-bottom: 2px solid #007ACC;
}

.filter-close {
    float: right;
    color: red;
}

.filter-close:hover {
    cursor: pointer;
    color: #104a7d;
}

.filter-close:focus {
    cursor: pointer;
    color: #007ACC;
}

/* endregion Filter */