/* region Header */
.header {
    background-color: black;

    width: 100%;

    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    min-height: 50px;

    clear: both;
    box-sizing: border-box;
    z-index: 10;
}

.header-item {
    color: white;
    -webkit-transition: background-color 0.4s;
    border-left: solid #222 1px;
    border-right: solid #222 1px;
    float: left;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}

.header-item:hover {
    background-color: #104a7d;
}

/* endregion Header */