body {
    display: block;

    font-family: "Calibri Light", sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
}

.header {
    background-color: black;

    width: 100%;

    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    min-height: 50px;
    margin-bottom: 200px;

    clear: both;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.menuItem {
    color: white;
    -webkit-transition: background-color 500ms;
    border-left: solid #222 1px;
    border-right: solid #222 1px;
    float: left;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}

.menuItem:hover {
    background-color: #104a7d;
}

.right {
    float: right;
}

.body-content {
    margin-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
}