body {
    display: block;

    font-family: "Calibri Light", sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
}

/* region Header */
.header {
    background-color: black;

    width: 100%;

    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    min-height: 50px;

    clear: both;
    box-sizing: border-box;
    z-index: 10;
}

.header-item {
    color: white;
    -webkit-transition: background-color 0.4s;
    border-left: solid #222 1px;
    border-right: solid #222 1px;
    float: left;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
}

.header-item:hover {
    background-color: #104a7d;
}

/* endregion Header */

/* region Main*/
.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.right {
    float: right;
}

.body-content {
    margin-top: 70px;
}

.store-item {
    float: left;
    height: 400px;
    width: 250px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.store-item:hover {
    overflow: visible;

    z-index: 6;
}

.inner {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     -webkit-transition: transform 0.4s;
}

.inner:hover {
    /*height: 450px;*/
    z-index: 6;
    background-color: #eaeaea;
    transform: scale(1.1,1.1);
}

.store-image {
    height: 370px;
    /*padding-bottom: 10px;*/
    width: 250px;
    display: block;
    margin: auto;
    -webkit-transition: opacity 0.4s;
    cursor: pointer;
}

.store-image:hover {
    opacity: 0.7;
}

.store-item-title, .store-item-button {
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.store-item-title {
    width: 200px;
    float: left;
    background-color: #eaeaea;
}

.store-item-button {
    width: 50px;
    float: right;
    background-color: #104a7d;
    -webkit-transition: background-color 0.3s;
    color: white;
    cursor: pointer;
}

.store-item-button:hover {
    background-color: #007ACC;
}

.store-item-bottom {
    clear: right;
}

.description {
    margin-bottom: 0;
}

/* endregion Main*/

.footer {
    padding-top: 30px;
    clear: left;
}

/* region ZoomedImage */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */

    z-index: 11;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*endregion ZoomedImage*/
