{% extends "layout.html" %}
{% load static %}

{% block content %}
    <div class="filter">
        <div class="filter-header"><b>Filter</b></div>
        <b>By metal</b><br>
        {% for metal in metals %}
            {% if metal.id in forbidden_metals %}
                <input type="checkbox" value="{{ metal.id }}" name="metal" title="123"
                       onchange="metalChecked(value, this)" checked>{{ metal.name }}<br>
            {% else %}
                <input type="checkbox" value="{{ metal.id }}" name="metal" title="123"
                       onchange="metalChecked(value, this)">{{ metal.name }}<br>
            {% endif %}
        {% endfor %}
        <hr>
        <b>By fineness</b><br>
        <div class="text-input">
            <div class="filter-close" onclick="finenessChanged('from', '')">x</div>
            From <input class="filter-input" type="text" name="from" title="From" onchange="finenessChanged(name, value)"
                        value="{{ fineness_from }}" align="right"><br/>
            <div class="filter-close"  onclick="finenessChanged('to', '')">x</div>
            To <input class="filter-input" type="text" name="to" title="To" onchange="finenessChanged(name, value)"
                      value="{{ fineness_to }}" align="right"><br/>
        </div>
    </div>

    {% for jewel in jewels %}
        <div class="store-item">
            <div class="inner">
                <img src="Images/{{ jewel.image }}" alt="{{ jewel.name }}" class="store-image"
                     onclick="zoomImage(this)"/>
                <div class="store-item-title"><b>{{ jewel.name }}</b></div>
                <div class="store-item-button" onclick="buy('{{ jewel.id }}')">Buy</div>
                <p class="description"><b>Made from </b>{{ jewel.metal.name }}<br/>
                    <b>Fineness: </b>{{ jewel.fineness }}<br/>
                    {{ jewel.description }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
